# Data Manipulation & Math
numpy
pandas
pyarrow

# Geospatial & Raster Data Handling (.asc, .tif)
rasterio
geopandas
shapely

# Machine Learning & Modeling
scikit-learn
xgboost
lightgbm

# Visualization
matplotlib
seaborn

# Development & Environment
jupyter
tqdm


ipykernel
streamlit
shap
plotly

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
